<div class="gray-bg">
    <div class="  middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>


            </div>
            <h3>Register to IN+</h3>
            <p>Create account to see it in action.</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div formGroupName="user">
                    <div class="form-group" [ngClass]="{ 'has-error': isRequired('name')}">


                        <input id="name" formControlName="name" class="form-control" placeholder="Name" required />

                        <span class="help-block" *ngIf="isRequired('name')">
                         Nombre requerido
          </span>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': isRequired('email') || isInvalidEmail()}">

                        <input id="email" formControlName="email" class="form-control" placeholder="Email" required />
                        <span class="help-block" *ngIf="isRequired('username')">
            Correo requerido
          </span>
                        <span class="help-block" *ngIf="isInvalidEmail()">
            Correo no tiene formato válido
          </span>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error' : isRequired('password') || isInvalidPassword()}">

                        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password" required />
                        <span class="help-block" *ngIf="isRequired('password')">
            Contraseña requerida
          </span>
                        <span class="help-block" *ngIf="form.get('user.password').hasError('invalidPassword')">
            Contraseña requiere 6 caracteres como minimo (mayuculas,minisculas,numeros y )
          </span>
                    </div>
                </div>
                <div class="form-group margin-top-sm">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login
        </button>
                </div>
                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" [routerLink]="['/Log']" [routerLinkActive]="['active']">Login</a>

                <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
            </form>
        </div>
    </div>
</div>