<div class="gray-bg">
    <div class="  middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>


            </div>
            <h3>Register to IN+</h3>
            <p>Create account to see it in action.</p>

            <div class="alert alert-success" *ngIf="status== 'success'">
                Registro completado correctamente, <a [routerLink]="['/login']"> Logeate aqui</a>
            </div>

            <div class="alert alert-success" *ngIf="status== 'error'">
                no te has registrado correctamente correctamente, <a [routerLink]="['/login']"> Logeate aqui</a>
            </div>


            <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">

                <div class="form-group">

                    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" placeholder="username" required/>

                    <span class="badge badge-info" *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>


                </div>
                <div class="form-group">

                    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="Email" required/>
                    <span class="badge badge-info" *ngIf="!email.valid && email.touched">
                            El email  no es correcto
                        </span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="Password" required/>
                    <span class="badge badge-info" *ngIf="!password.valid && password.touched">
                              El Password  no es correcto
                            </span>
                </div>
                <input type="submit" class="btn btn-primary block full-width m-b" [disabled]="!registerForm.form.valid" />


            </form>

            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

</div>