<div class="fixed-sidebar">
    <div id="wrapper">

        <!-- barra lateral izquiera-->
        <app-sidebar></app-sidebar>


        <div id="page-wrapper" class="gray-bg  ">

            <div class="row border-bottom justify-content-lg-center ">


                <!-- Footer -->

                <div class="footer text-center ">
                    <div class="blockquote-footer">
                        10GB of <strong>250GB</strong> Free.
                        <strong>Copyright</strong> Example Company &copy; {{test | date: 'yyyy'}}
                    </div>

                </div>

                <!-- encabezado-->
                <app-header></app-header>


            </div>


            <!-- paginas-->




            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col">
                        <div class="text-center m-t-lg">
                            <h1>

                                <router-outlet> </router-outlet>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>





            <!--  </div> -->



        </div>

    </div>