<div id="wrapper">

    <!-- barra lateral izquiera-->
    <app-sidebar></app-sidebar>


    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">


            <!-- Footer -->
            <div class="footer">
                <div class="float-e-margins">
                    10GB of <strong>250GB</strong> Free.
                    <strong>Copyright</strong> Example Company &copy; {{anio}}
                </div>

            </div>


            <!-- encabezado-->
            <app-header></app-header>

        </div>


        <div class="row  border-bottom white-bg dashboard-header">

            <router-outlet> </router-outlet>
            <!-- paginas-->


            <!-- 
                <div class="col-md-3">
                <h2>Welcome Amelia</h2>
                <small>You have 42 messages and 6 notifications.</small>
                 </div>
                <div class="col-md-6">
                <div class="flot-chart dashboard-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                </div>
                </div> -->


        </div>



        <!--  </div> -->



    </div>