<div class="wrapper wrapper-content animated fadeIn">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>User confirmation!!</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="alert {{ alertType }}">
         <h2>{{ response }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 ">

  </div>
</div>
