<div class="fixed-sidebar ">
    <nav class="navbar-default navbar-static-side navbar-light navbar-expand-lg " role="navigation">
        <div class="sidebar-collapse" [collapse]="isCollapsed">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" width="150" height="155" src="/src/assets//img//seko.jpeg" />
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold"> <h3> {{currentUser.user.name}}  </h3></span>
                            <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" [routerLink]="['user/detail']">Profile</a></li>
                            <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                            <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a [routerLink]="['user/list']"><i class="fa fa-user"></i> <span class="nav-label">List Users</span></a>
                </li>
                <li>
                    <a [routerLink]="['calculator']"><i class="fa fa-calculator"></i> <span class="nav-label">Calculator</span> </a>
                </li>
            </ul>

        </div>
    </nav>

</div>